/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/

body {
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-wrapper {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}
.gameboard {
    border: 1px solid oklch(80.8% 0.042 265.755);
    /* width: 36vw;
    height:calc(36vw);
    display: grid;
    grid-template-columns: repeat(10, calc(36vw/10) );
    grid-template-rows: repeat(10, calc(36vw/10) ); */
}

.gameboard div {
    border: 1px solid oklch(60.9% 30% 221.723);
    background-color: oklch(20.2% 0.056 229.695);
}

.main-container {
    width: fit-content;
    border: 1px solid oklch(60.9% 30% 221.723)
}

div {
    /* border: 1px solid red; */
}

.y-scale {
    justify-self: end;
    margin: 0.4rem 0;
}

.x-scale {
    margin: 0 0.4rem;
    justify-self: start;
}

.x-scale, .y-scale {
    place-items: center;
    font-weight: bold;
    color: oklch(20.2% 0.056 229.695);
    font-size: 1rem;
}
.main-container .occupied-slots {
    background-color: oklch(92.4% 60% 95.746);
}

.main-container .hit-slots {
    background-color: oklch(63.7% 0.237 25.331);
}
.main-container .missed-hit-slots {
    background-color: oklch(97.15% 0.01675 231.15);
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    /* border: 1px solid red; */
    padding: 0 1rem;
    margin: 1rem;
}


form {
    
    width: fit-content;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

form fieldset {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0;
    width: 30vw;
}

fieldset p.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    color: oklch(60.9% 30% 221.723);
    width: 100%;
    margin: 0;
    gap: 0.4rem;
    
}

form input {
    border: 1px solid oklch(20.2% 0.056 229.695);
    width: 50%;
    height: 1.5rem;
    border-radius: 6px;
    color: oklch(60.9% 30% 221.723);
}

form button {
    width: 100%;
    height: 2rem;
    border-radius: 6px;
    background-color: oklch(20.2% 0.056 229.695);
    color: oklch(80.9% 30% 221.723);
}